<div style="text-align: center; margin-top: 50px;">
    <h1>INSERISCI TAG</h1>
    <input type="text" placeholder="Player Tag" [(ngModel)]="playerTag">
</div>

<div class="container my-4">
    <button *ngFor="let brawler of homeService.brawlers" class="card" (click)="onBrawlerClick(brawler.id)">
        <img src="../../../assets/brawl-logo.png" class="card-img-top" alt="{{brawler.name}}">
        <div class="card-body">
            <h5 class="card-title">{{brawler.name}}</h5>
        </div>
    </button>
</div>