<footer>
    <div class="social-links">
        <a href="https://youtube.com/@sdrogocity" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://tiktok.com/@sdrogocity" target="_blank">
            <i class="fab fa-tiktok"></i>
        </a>
        <a href="https://instagram.com/sdrogocity" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    <a href="/player/R0VJ8YPR" target="_blank">My Stats</a><br>
    <a href="/club/2GUR9C2YG" target="_blank">My Club</a><br>
    <hr>
    <h3>Realized by <a href="https://github.com/EdoardoPizzorno" target="_blank">Edoardo Pizzorno</a></h3>
</footer>