<div class="wrapper">
    <h1>{{ playerService.player.name }}</h1>
    <h4> <i class="fas fa-trophy"></i> {{ playerService.player.trophies }} <p
            [ngClass]="{red: playerService.trophiesDrawdown < 0, green: playerService.trophiesDrawdown >= 0}">
            [{{playerService.trophiesDrawdown}}%]</p>
    </h4>
    <img src="../../../assets/brawl-logo.png" alt="Immagine {{ playerService.player.name }}"><br><br>
    <h5>Club: <strong (click)="onClubClick()">{{playerService.player.club.name}}</strong></h5>
    <h6>Experience Level: <u>{{playerService.player.expLevel}}</u></h6>
    <h6>Solo Victories: <u>{{playerService.player.soloVictories}}</u></h6>
    <h6>Duo Victories: <u>{{playerService.player.duoVictories}}</u></h6>
</div>