* {
    text-align: center;
    align-items: center;
    justify-content: center;
}

img {
    margin: 10px;
    width: 180px;
    border-radius: 5px;
}

strong {
    color: var(--secondary-color);
    text-decoration: underline;
    font-size: 20pt;
}

strong:hover {
    color: var(--secondary-color-dark);
    cursor: pointer;
    transition: 0.5s;
}

u {
    font-size: 18pt;
}