* {
    text-align: center;
    align-items: center;
    justify-content: center;
}

img {
    margin: 10px;
    width: 180px;
    border-radius: 5px;
}

.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #ccc;
    text-align: center;
}

i {
    color: rgb(185, 185, 15);
    text-decoration: underline;
}

i:hover {
    color: rgb(185, 185, 15);
    cursor: pointer;
}

.red {
    color: red;
}

.green {
    color: green;
}

u {
    font-size: 18pt;
}