<div class="battle" (click)="isOpen=!isOpen">
    <h4>Mode: <u>{{battle.battle.mode}}</u></h4>
    <h4>Type: <u>{{battle.battle.type}}</u></h4>
    <h4>TrophyChange: <p [ngClass]="{red: battle.battle.trophyChange<0, green: battle.battle.trophyChange>=0}">
            {{battle.battle.trophyChange}}</p>
    </h4>
    <p>
        {{battle.battleTime.date.year}}-{{battle.battleTime.date.month}}-{{battle.battleTime.date.day}}
        <br>
        {{battle.battleTime.time.hour}}:{{battle.battleTime.time.minute}}
    </p>
    <div *ngFor="let team of battle.battle.teams" class="team" [ngClass]="{open: isOpen}">
        <div *ngFor="let player of team">
            <div class="player">
                <h5>{{player.name}}</h5>
                <h6>{{player.brawler.name}}</h6>
                <h6>{{player.brawler.trophies}}</h6>
            </div>
        </div>
    </div>
</div>