<div class="wrapper">
    <h1 class="clubName"> {{clubService.club.name}} </h1>
    Descrizione:
    <h3>{{clubService.club.description}}</h3>
    Trofei del Clan:
    <h3> <i class="fas fa-trophy"></i> {{clubService.club.trophies}}</h3>
    Trofei Richiesti:
    <h3> {{clubService.club.requiredTrophies}}</h3>
</div>

<div class="row memberList">
    <div class="my-6">
        <h1>Membri del Club</h1>
        <div *ngFor="let member of clubService.club.members" value="member.tag"
            (click)="homeService.onPlayerSearch(member.tag)" class="player {{member.role}}">
            <h2>{{member.name}}</h2>
            <p>{{member.role}}</p>
            <hr>
            <h3> <i class="fas fa-trophy"></i> {{member.trophies}} </h3>
        </div>
    </div>
</div>